*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: #080808;
  font-family:'Times New Roman', Times, serif;
  width: 100%;
  height : 100vh;
  background: url("images/admin.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  width: 400px;
  height: 450px;
  background: linear-gradient(#ffffff34,#ffffff27);
  backdrop-filter: blur(7px);
  border: 1px solid #ffffff83;
  box-shadow: 0 8px 32px #0000008a;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form h1{
  margin-bottom: 5px;
  margin-top: -40px;
}

.user{
  position: relative;
}

.user2{
  position: relative;
  margin-bottom: 12px;
}

form .txt{
  width: 300px;
  height: 45px;
  outline: none;
  background-color: transparent;
  border: 1px solid #ffffffac;
  border-radius: 30px;
  margin-top: 20px;
  padding: 10px;
}

form p{
  margin-bottom: 15px;
  font-size: 0.9rem;
}

input::placeholder{
  color: #ffffffb9;
  font-size: 0.8rem;
  letter-spacing: 0.3px;
}

.fa-user{
  position: absolute;
  top: 52%;
  right: 7%;
}

.fa-lock{
  position: absolute;
  top: 52%;
  right: 7%;
}

a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

form a{
  margin-top: 10px;
  font-size: 0.8rem;
}

.mypw{
  width: 250px;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mypw input{
  width: 10px;
  outline: none;
  border: none;
}

button{
  outline: none;
  border: none;
  font-size: 0.9rem;
  padding: 12px 130px;
  border-radius: 30px;
  margin: 15px 0px;
  cursor: pointer;
}
p{
  font-size: 0.8rem;
}

